.countryCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.countryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: 150px;
  
  .countryFlag {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .countryName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .countryCapital, .countryRegion {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
}